services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3069:3000"
    networks:
      - dokploy-network
    labels:
      - traefik.enable=true
      - traefik.http.routers.next-app.rule=Host(`yopem.com`)
      - traefik.http.routers.next-app.entrypoints=websecure
      - traefik.http.routers.next-app.tls.certResolver=letsencrypt
      - traefik.http.services.next-app.loadbalancer.server.port=3069
    env_file:
      - .env
    restart: unless-stopped
